.btn-nav {
  align-items: right;
  justify-content: space-between;
}

.flex-container {
  display:flex;
  flex-direction: row;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
}
