div {
  border: 1px solid black bottom;
}

.btn-nav {
  align-items: right;
  justify-content: space-between;
}

.flex-container {
  display: inline-flex;
  flex-direction: row;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  justify-content: space-around;
}
