div {
}

.btn-nav {
  display: inline-block;
  padding-right: 20px 10px;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;

}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
